$pink-dark: #C93A6B;
$pink-base: #CE6387;
$pink-light: #E3B1C2;

$gray-dark: #2F5C2D;
$gray-base: #52A350;
$gray-light: #CDDFCC;

$gray-400: #332E32;
$gray-300: #7A6E76;
$gray-200: #F4E6F0;
$gray-100: #F7F3F6;

$white: #FFFFFF;

h1,
p,
strong{
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: $pink-dark;
  font-size: 24px;
}

p {
  color: $gray-300;
  font-size: 16px;
}
